#font1{
  font-family: 'Do Hyeon', sans-serif;
}
#font2{
  font-family: 'Stylish', sans-serif;
}
body{
  background-color:#e0e0eb;
  background-size: cover;
  min-width: 755px
}
#jowon{
  width: 1100px;
  height: 200px;
  margin: 80px;
  transform:translateY(-20px);
  background-color:LightGray;
  border-radius: 170px / 150px;
 box-shadow: 0px 1px 1px #000

}

#jowonrmf{

  text-align:center;
 font-size: 29px;
 padding:25px;
 margin:75px;
}

#zks {
  width: 300px;
  height: 80px;
  margin: 0;
  background-color:LightGray;
  border-radius: 170px / 200px;
 box-shadow: 0px 1px 1px #000;
 font-weight: bold;
 transform:translateX(129px) translateY(-80px);

}

}
#xmrwld{
  transform:translateX(190px);
}
#wleh{
  transform:translateX(65px);
}
#tjd2dnlfh{
  transform:translateY(-12px);
}
#bus{
  text-align:center;
  width: 200px;
  height:200px;
  background: orange;
  border-radius:30px;
 font-weight: bold;
 transform:translateX(5px);

}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
 }
 a {
   text-decoration: none; color: black;
 }

 #zks1 a{
   text-align: center;
   display: inline-block;
   padding:30px;
   width: 130px;
   height:130px;
   background: orange;
   border-radius:30px;
text-decoration: none;
font-size: 30px;
 text
}
#zks1 a:hover{
  transform: translateY(45px);
transition:all 0.7s;
padding:30px;
width: 130px;
height:130px;
background: ;
border-radius:30px;

}
#zks1 li{
  text-align: center;
  display: inline-block;
  padding-left:6rem;
  padding-top: 1rem;
}
#cpdbr{
  text-align:center;
  transform:translateX(-150px);

}
#rhks{
  text-align:center;
  transform:translateX(-300px);
}
#rhkdks{
   padding-left: 15rem;
}
